<form action="/" method="post" class="form-signin">
    <div class="form-group">
      <label for="name">Country</label>
      <input id="name" type="text" class="form-control" name="name" autocomplete="country" placeholder="Enter Country" required>
    </div>
    <div class="form-group">
        <label for="alpha2Code">Alpha2Code</label>
        <input id="alpha2Code" type="text" class="form-control" name="alpha2Code" placeholder="Enter alpha2Code" required>
      </div>
      <div class="form-group">
        <label for="alpha3Code">Alpha3Code</label>
        <input id="alpha3Code" type="text" class="form-control" name="alpha3Code" placeholder="Enter alpha3Code" required>
      </div>
      <div class="form-group">
        <label for="visited">Visited</label>
        <input id="visited" type="checkbox" class="form-control" name="visited">
      </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>